body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family:'Arial Narrow Bold', sans-serif;
}

#form {
    width: 300px;
    height: 50%;
    border: 1px solid black;
    /* border-radius: 30%; */
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 5px black;
    background: radial-gradient( rgb(62, 13, 107), rgb(29, 15, 80) );
    border-radius: 15px;
    
}

input,button {
    width: 150px;
    height: 40px;
    text-align: left;
    margin:10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: 0px;

}

button {
    text-align: center;
    width: 100px;
    background-color: rgb(22, 9, 87);
    color:white;
    font-weight: 900;


}

.login , .register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.login {
    background: radial-gradient( rgb(62, 13, 107), rgb(29, 15, 80) );
    padding: 50px;
    margin-bottom: 30px;
    
}


.register {

    background-color: white;
    
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    padding-top: 20px;
    transition: all 0.8s ease;
    padding-top: 30px;

}



#chk {
    position: absolute;
    display: none;
}

.login label {
    font-size: 30px;
    color:white;
    transition: all 1s ease;
    font-weight: 700;
}

.register label {
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 30px;
    transform: scale(1);
    font-weight: 700;

}


#chk:checked ~ .register {
    transform: translateY(-270px);

}

#chk:checked ~ .register label {
    transform: scale(1.4);
    font-weight: 700;
  }
  
  #chk:checked ~ .login label{
    transform: scale(.7) translateY(-30px);
    margin:0px;
  }

